/* body {
    font-family: Arial, sans-serif; padding: 20px; 
}
.post { 
        border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; 
}
.post h2 { 
        margin: 0; color: #333; 
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}